.dashboard-layout {
    background-color: #ffffff;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.dashboard-content {
    padding: 2rem;
    width: 90%;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.dashboard-title {
    font-size: 2.25rem;
    font-weight: 800; 
    margin-bottom: 1rem;
    color: #C68AFF;
}

.dashboard-username {
    color: #E6CCFF; 
}

.dashboard-subtitle {
    font-size: 1.125rem;
    color: black; 
}

.dashboard-grid {
    display: grid;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

@media (min-width: 768px) {
    .dashboard-layout {
        width: 100%;
    }
    
    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .dashboard-subtitle {
        font-size: 1.125rem;
        color: black; 
        text-align: justify;
    }
    
    .dashboard-content {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .dashboard-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.dashboard-card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1-px rgba(0, 0, 0, 0.06);
    border-left: 4px solid #8A8AFF;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #8A8AFF; 
}

.card-text {
    color: black;
}

@media (max-width: 767px) {
    .dashboard-layout {
        width: 100%;
    }
    
    .dashboard-content {
        width: 95%;
        padding: 1rem;
        margin: auto;
    }
    
    .dashboard-title {
        font-size: 1.8rem;
    }
    
    .dashboard-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .dashboard-subtitle {
        font-size: 1rem;
        color: black; 
        text-align: justify;
    }
    
    .dashboard-card {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .dashboard-layout {
        width: 100%;
    }
    
    .dashboard-content {
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
    }
    
    .dashboard-title {
        font-size: 1.4rem;
        text-align: center;
    }
    
    .dashboard-subtitle {
        font-size: 0.85rem;
        text-align: left;
    }
    
    .dashboard-card {
        padding: 0.8rem;
    }
    
    .card-title {
        font-size: 1.2rem;
    }
}
